__pycache__
results/*
other_script/*
*.pkl
*.parquet
*.log
copy/*
*.png
*.pdf
*.json
*.zip
*.sh
*.txt
data/*
backup/*
prediction/*
train_data.parquet
ret_test_data.parquet
ret_train_data.parquet
test_data.parquet
*.7z
ManyTypes4Py/repos/*
BetterTypes4Py/repos/*

# Include Output
!output/*

# Include requirements
!requirements.txt
