__pycache__
results/*
other_script/*
output/*
*.pkl
*.parquet
*.log
copy/*
*.png
*.pdf
*.json
*.zip
*.sh
*.txt
data/*
backup/*
prediction/Tiger
prediction/TypeGen
prediction/TypeT5
prediction/typesim_model
train_data.parquet
ret_test_data.parquet
ret_train_data.parquet
test_data.parquet
*.7z
ManyTypes4Py/repos/*
*.tar.zst
BetterTypes4Py/repos/*
scripts/*
.gitattributes

# Include requirements
!requirements.txt
!prediction/Example/*